.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
}

.button {
  padding: .5rem;
  background-color: #4b4bff;
  color: white;
  border-radius: .25rem;
  font-size: 1rem;
  text-align: center;
}

.button:hover {
  background-color: #7070fb;
}