.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
}

.link {
  padding: 1rem;
  cursor: pointer;
}

.link:hover {
  color: cyan;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
